.hover
{ 
    width: 18rem;
    height: 18rem;
    margin: 1rem;
    padding: 0.1rem;
    
}
.smallCards{
    width: 8rem;
    height: 9rem;
    margin-right: 1rem;
    background-color: #F6F9FC;
}
.card{
    margin: 1rem;
}  

@media screen and (max-width: 1100px){
.hover{
 width: 9rem;
 margin: 1.5rem;
}
}

@media screen and (max-width: 800px){
    .hover{
     width: 8rem;
     margin: 1rem;
    }
    
    }

    @media screen and (max-width: 670px){
        .hover{
         width: 7rem;
         margin: 1rem;
        }
        }

.topbar{
    background-color: #F1F3FE; 
    width:100%;
    margin: 0 auto;
    color: #1B2653;
    padding: 1rem;
    padding-left: 10%;
}
.Cards{
    background-color: #fff;
    width:100%;
    font-weight: 700;
    margin: 0 auto;
    color: #1B2653;
    padding: 2rem;
    padding-left: 10%;
}
.cardContainer{
    margin-top: -1rem;
    display: flex;
    justify-content: flex-start;
    margin-left: 4rem;
    align-items: center;
}
.banner{
    background-image: linear-gradient(to right,#9AE3D9, #19C2AB);
    color:#fff;
}
 