.hover
{ 
    width: 280px;
    height: 320px;
    margin: 1rem;
    padding: 0.2rem;
    
}
.smallCards{
    width: 8rem;
    margin-right: 1rem;
    background-color: #F6F9FC;
}
.card{
    margin: 1rem;
}  

.topbar{
    background-color: #F1F3FE; 
    width:100%;
    color: #1B2653;
    width: 100%;
    text-align: center;
    height: 170px;
    padding: 30px ;
    padding-left: 10%;
}
.Cards{
    width:100%;
    font-weight: 700;
    margin: 0 auto;
    color: #1B2653;
    padding: 30px ;
    padding-left: 10%;
}
.bottomCards{
    width:100%;
    font-weight: 700;
    margin: 0 auto;
    color: #1B2653;
    padding: 30px ;
}
.banner{
    background-image: linear-gradient(to right,#9AE3D9, #19C2AB);
    color:#fff;
    height: auto;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1100px){

}
.left{
    width:50%;
}
.right{
    width: 50%;
}
.table{
    margin-right: 2rem;
}
@media screen and (max-width: 950px){
    .cardContainer{
        display: flex;
        flex-direction:column;
    }
    .col{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .widgets{
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .table{
        margin-right: 0rem;
    }
    .topbar{
       padding-left: 5%;
    }
    .hover
{ 
    width: 280px;
    height: 300px;
    margin: 1rem;
    padding: 0.2rem;
    
}
.Cards{
    padding-left: 5%;
}
    }

    @media screen and (max-width: 670px){
       .Cards{
           display: flex;
           flex-direction: column;
       }
       .widgets{
           flex-direction: column;
       }
       .topbar{
        padding-left: 30px;
     }
     .Cards{
        padding-left: 30px;
    }
        }



.widgets{
    display: flex;
}
.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
