
.logo{
    height: 1.4rem;
    width: 7rem;
    cursor:pointer;
}
a{
    color:#15202B;
    font-size: clamp(0.8rem, 1vw, 1.6rem);
}

ul li{
    display: inline-block;
    margin-top: 0.3rem;
    opacity: 1.2;
}
ul li:hover{
    opacity: 1.1;
}
li img{
    border: none;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}
/* --------- Dropdown ---------- */
.drop-nav{
    position: relative;
    z-index: 1111;
    margin-right: 1.8rem;
    border: none;
}

.drop-nav li{
    text-transform: capitalize;
    overflow: hidden;
    color: #3D4F58 !important;
}
.drop-nav .dropdown{
    position: absolute;
    background: #f4f5f7;
    text-align: left;
    margin-left: 20%;
    padding-left: 20%;
    width: calc(60% + 50px);
    border-radius: 8px;
    top: 50px;
    display: none;
}
.drop-nav .dropdown li{
    display: block;
}
.drop-nav:hover .dropdown{
    border-radius: 8px;
    display: block;
}
@media (max-width: 960px) {

.logo{
    height: 2.3rem;
    width: 6.9rem;
    margin: 1.4rem;
}
ul li img{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.4rem;
    margin-right: 1.8rem;
}
a{
    color:#15202B;
    font-size: clamp(0.8rem, 1vw, 1.6rem);
}
.drop-nav .dropdown{
    width: calc(80% + 30px );
    border-radius: 8px;
    top: 40px;
}

}
