
.react-tabs{
  margin-top: -3rem;
  padding-top: 1rem;
  background: #1283DA; 
}
.react-tabs__tab-list {
    cursor: pointer;
    color: #fff;
    background: #1283DA; 
}
  .react-tabs__tab{
    color: #fff;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background:#1079C9;
  }
  .main{
    color: #fff;
    background-color: #F8F9FE;
  }
.boxt{
    color: #fff;
    background-color: #F8F9FE;
}
.react-tabs__tab--selected{
  cursor: pointer;
  color: #425A70;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background:#fff;
  font-weight: 550;
}
@media (max-width: 950px) {
.boxt{
    margin: 1rem;
}
}
@media (max-width: 550px) {
    .react-tabs__tab-list {
        display: block;
        overflow-y: hidden;
        overflow-x: scroll;
        margin: 0 auto;
        font-size: clamp(0.8rem, 1vw, 1.4rem);
        white-space: nowrap;
        color:'#15202B';
    }
    .boxt{
        margin: 0.5rem;
    }
    .react-tabs__tab-list {
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    .react-tabs__tab-list::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    .icon{
        font-size:clamp(0.8rem, 1vw, 1.4rem);
    }
  }
