
.react-tabs{
  margin-top: -2rem;
}
.react-tabs__tab-list {
  width: 1400px;
  max-width: 1400px;
  margin: 0 auto;
    cursor: pointer;
    color: '#ced4da !important';
    background-color: #fff;
    border-bottom: 2px solid #F8F9FE;  
  }
  .react-tabs__tab--selected{
    cursor: pointer;
    color: '#ced4da !important';
    border: 2px solid #F8F9FE;
    background-color: #F8F9FE;
  }
  .react-tabs__tab{
    color: '#ced4da !important';
    padding: 1.2rem;
    font-size: 1.3rem;
    cursor: pointer;
  }
  .main{
    color: '#ced4da !important';
    background-color: #F8F9FE;
    padding-left: 5%;
    padding-right: 5%;
  }
.icon{
    color: '#ced4da !important';
    color:'#212529';
}
.boxt{
    
    color: '#ced4da !important';
    padding: 2rem;
    background-color: #F8F9FE;
}
@media (max-width: 950px) {
.boxt{
    margin: 1rem;
}
}
@media (max-width: 550px) {
    .react-tabs__tab-list {
        display: block;
        overflow-y: hidden;
        overflow-x: scroll;
        margin: 0 auto;
        font-size: clamp(0.8rem, 1vw, 1.4rem);
        white-space: nowrap;
        color:'#15202B';
    }
    .boxt{
        margin: 0.5rem;
    }
    .react-tabs__tab-list {
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    .react-tabs__tab-list::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    .icon{
        font-size:clamp(0.8rem, 1vw, 1.4rem);
    }
  }
